In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("q1_data.xlsx")
data.head()

,sr_no,uid,program_year,farmer_name,plantation_type_dense_fruit,total_land_area_acre,area_f4f_acre,District,Block,water_available,...,bhendi,shirish,ain,pimpal,vad,tamhan,waval,palas,babhul,bakul
0,1,id_1,2023,farmer_b,Fruit Tree,5,4,A,p,Yes,...,1,0,1,1,1,0,0,1,0,1
1,2,id_2,2023,farmer_c,Fruit Tree,5,30,A,p,Yes,...,1,0,1,1,1,1,0,0,0,1
2,3,id_3,2023,farmer_d,Fruit Tree,7,5,A,p,Yes,...,0,2,0,3,0,0,3,3,0,3
3,4,id_4,2023,farmer_e,Fruit Tree,9,4,A,p,Yes,...,0,4,0,4,0,0,3,3,0,4
4,5,id_5,2023,farmer_f,Fruit Tree,7,4,A,p,Yes,...,3,3,3,0,0,3,0,3,0,3

1. Test Case: Validate Initial Farmer Identification
- Purpose: Ensure that farmer identification details are captured accurately at the start.

In [3]:
def test_farmer_identification(data):
    assert data['uid'].notnull().all(), "Farmer ID should not be missing"
    assert data['farmer_name'].notnull().all(), "Farmer name should not be missing"

2. Test Case: Validate Water and Electricity Availability
- Purpose: Ensure that the water and electricity availability information is correctly recorded.

In [4]:
def test_availability(data):
    # Validating that water and electricity availability are recorded as valid binary values (Yes/No)
    assert data['water_available'].isin(["Yes", "No"]).all()
    assert data['electricity_available'].isin(["Yes", "No"]).all()

3. Test Case: Farmer Collect Payment
- Purpose: Ensure that the  payment collection is recorded properly and follows a sequential order.

In [5]:
def test_payment(data):
    assert data['farmer_payment_collected'].isin(["Yes", "No"]).all(), "All farmers should have payment received after onboarding"

4. Test Case: Validate Carbon Credit Training and Contract
- Purpose: Ensure that carbon credit training is done and contracts are signed with farmers after payment.

In [6]:
def test_training_and_contract(data):
    # Checking if carbon credit training and contract are completed after payment
    assert data['cc_training_uploaded?'].isin(["Yes", "No"]).all(), "All farmers should complete carbon credit training"
    assert data['contract uploaded'].isin(["Yes", "No"]).all(), "All farmers should sign the contract after training"

5. Test Case: Validate Plant and Drip Distribution
- Purpose: Ensure that baseline survey conducted after contract signing.

In [10]:
def baseline_survey(data):
    # Validating survey conducted after contract signing
    assert data['baseline_survey'].isin(["Yes", "No"]).all(), "survey conducted after contract"

6. Test Case: Validate Number of Trees Planted
- Purpose: Ensure that the number of trees planted is within the expected range (350 to 450 trees).|

In [11]:
def test_trees_planted(data):
    # Validating that the number of trees planted is between 350 and 450
    assert data['trees_planted'].between(350, 450).all(), "'trees_planted' should be between 350 and 450"